<!DOCTYPE html>
<html>

  <head>
    <title>Unisport</title>
    <%= stylesheet_link_tag    'users/sessions', media: 'all' %>

    <%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Passion+One', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Oxygen', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
