<nav class="navbar navbar-fixed-top container-fluid">

  <div class="row">

    <div class="col-md-offset-2 col-md-3">
	  	<a class="navbar-header" href="#">
        <%= image_tag("logo.png", alt: "Example Image", class: "navbar-logo")%>
        <div class="navbar-brand navbar-link">
          UniSport
        </div>
      </a>
    </div>

	  <div class="col-md-5" id="navbar">
	  	<ul class="nav navbar-nav navbar-right">

        <li class="navbar-elem">
          <% if user_signed_in? %>
            <%= link_to @new_event_link, :class => "navbar-link", :'data-toggle' => "modal", :'data-target' => "#myModal" do %>
              <span class="glyphicon glyphicon-plus-sign"></span> New Event</a>
            <% end %>
          <% else %>
            <%= link_to @new_event_link, :class => "navbar-link" do %>
              <span class="glyphicon glyphicon-plus-sign"></span> New Event</a>
            <% end %>
          <% end %>
        </li>

        <li class="navbar-elem">
          <%= link_to "/", :class => "navbar-link" do %>
            <span class="glyphicon glyphicon glyphicon-th-list"></span> Feed</a>
          <% end %>
        </li>

        <li class="navbar-elem">
          <%= link_to @profile_link, :class => "navbar-link" do %>
            <span class="glyphicon glyphicon-user"></span> Profile
          <% end %>
        </li>

        <% if controller_name == 'feed' || controller_name == 'profile' %>
          <%= render @dropdown_partial %>
        <% end %>
	  	</ul>
	  </div>

  </div>

</nav>
