<p>
  <strong>Sport:</strong>
  <%= @event.sport %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>People needed:</strong>
  <%= @event.needed %>
</p>

<p>
  <strong>Additional Info:</strong>
  <%= @event.additional_info %>
</p>

<%= link_to 'Back', events_path %>